<div class="result-set">

        <tbody>
        <div class="container-fluid">
             <div class="row">
                 <router-outlet></router-outlet>

             </div>
         </div>    
        </tbody>

</div>